*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    display: block;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Tilt Warp', sans-serif;
}

body{
    background-color: #DDEFEE;
    width: 100dvw;
    height: 100dvh;
}

a{
    display: inline-block;
    color:#35312F;
    text-decoration: none;
}

    a:visited{
        color:#35312F;
    }

    a:hover{
        color:#2D8E8A;
    }

    a:active{
        color: #FBB03B;
    }

.bold{
    font-weight: 800;
}

.hide{
    display: none;
}

/* Logo */
.logo{
    width: 5em;
    display: none;
    position: fixed;
    left: 1em;
    top: 1em;
    z-index: 5;
}
.logo img{
    width: 100%;
}

.button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.1em;
    box-shadow: black 0.2em 0.2em;
    transition-duration: 0.5s;
}
    .button:hover{
        background-color: #DDEFEE;
    }
    .button:active{
        position: relative;
        left: 0.2em;
        top: 0.2em;
        box-shadow: 0 0;
    }

/* Grid settings */
.wrapper{
    padding: 2rem;
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-top: solid #35312F 30px;
    height: 100%;
    margin: auto;
}

.grid > * {
    z-index: 2;
    min-height: 5em;
}

.grid > section{
    border: #35312F solid;
    border-width: 0 10px 30px 10px;
    min-width: 3rem;
}

/* Sections */
.single-container{
    container-type: inline-size;
    container-name: single-room;
}

.double-container{
    container-type: inline-size;
    container-name: double-room;
}

#video-room{
    background-color: #2D8E8A;
    background-image: url('images/Pattern-Brick.png');
    font-size: 18px;
}

#shop{
    grid-column: span 2;
    background-color: #FFE5C2;
    color: #DD4319;
    background-image: url('images/Pattern-Diagonal.png');
}

#office{
    background-color: #2D8E8A;
    background-image: url('images/Pattern-Brick2.png');
    border-right: 0;
}

#recording-room{
    background-color: #2D8E8A;
    background-image: url('images/Pattern-Brick2.png');
    background-position-x: -100px;
    border-left: 0;
}

.room-container{
    font-size: 16px;
    aspect-ratio: 1/1;
}
.room-container.rectangle-ratio{
    aspect-ratio: 2/1;
}

/* Footer */
footer.ground{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #35312F;
    width: 100dvw;
    height: 10rem;
    z-index: 1;
    text-align: center;
}

#contact-info{
    background-color: #DDEFEE;
    width: min-content;
    height: min-content;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
    padding:0.5rem;
    border-radius: 10px;
    font-size: 12px;
}

/* Video Room */
#video-room > .room-container{
    width: 100%;
    height: 100%;
    padding-top: 2em;
    position: relative;
}

.tv{
    width: 65%;
    aspect-ratio: 16/ 9;
    height: auto;
    background-color: black;
    border: solid #35312F 0.5rem;
    border-radius: 5px;
    color:#DDEFEE;
    text-align: center;
    margin: auto;
    position: relative;
}

    .tv > p{
        font-size: 1em;
        padding-top: 1em;
    }
    .tv > a{
        width: 2em;
        height: 2em;
        inset: 0;
        margin: auto;
        display: block;
        position: absolute;
        padding: 1em;
        transition-duration: 0.5s;
    }
        .tv > a:hover{
            background-color: #35312F;
            transition-duration: 0.3s;
        }

    .tv > img.in-logo{
        position: absolute;
        width: 4em;
        left: 0.2em;
        bottom: 0.2em;
    }

.sofas{
    position: absolute;
    height: auto;
    bottom: 0;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
}

.sofas > div{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1em;
    z-index: 3;
}
.sofas > div > img{
    min-width: 3em;
    max-width: 100em;
}

/* Shop section */

#shop > .room-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#shop a{
    color:#DD4319;
}

    .big{
        font-size: 2em;
    }

.shop-link{
    font-size: 1.5em;
    padding: 0.3em;
    background-color: #FFE5C2;
    border-width: 2px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    grid-column: 2/span2;
    width: calc(100% - 1em);
    min-width: 3em;
    max-width: 100em;
}
    .shop-link:hover{
        background-color: #FBB03B;
    }

.room-section {
    width: 100%;
}

.room-section:has(.frame-section){
    display: flex;
    align-items: center;
}

.room-section > .clothes-section{
    flex-shrink: 0.75;
}

.frame-section {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1em;
}

.frame-section > img{
    height: calc(100%);
    width: auto;
}

.frame{
    background-color: #FFE5C2;
    border-radius: 5px;
    border: 2px solid black; 
    outline: 2px solid black;
    outline-offset: -6px;
    padding: 2px;
}

.frame-section > .vertical-img{
    height: 100%;
    min-height: 8em;
    width: 3em;
    background-image: url(images/Pattern-HorizontalLines.png);
    background-size: cover;
}

.frame-section > .horizontal-img{
    width: calc(100%);
    height: 3em;
    background-image: url(images/Pattern-VerticalLines.png);
    background-size: cover;
}

.clothes-section {
    border-left: 2px black solid;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    background-color: #FFE5C2;
    background-image: url('images/Pattern-HorizontalLines.png');
    display: flex;
    align-items: end;
    justify-content: center;
}

.clothes-section > img{
    width: 80%;
    max-width: 391px;
}

.lamp{
    position: absolute;
    max-width: 4em;
}

.lamp.left{
    left: calc(9%);
}
.lamp.right{
    right: calc(25%);
}

/* Office section */
#office > .room-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#office > .room-container > * {
    position: absolute;
}

#office-window{
    top: 2.5em;
    left: 60%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 295px;
}

#office-shelves{
    left:0;
    bottom:0;
    height: 90%;
    max-height: 328px;
}

#office-desk{
    bottom:0;
    left: 60%;
    transform: translateX(-50%);
    width: 30%;
    max-width: 238px;
}

/* Recording room section */

#recording-room > .room-container{
    position: relative;
    height: 100%;
    width: 100%;
}

#recording-room > .room-container > * {
    position: absolute;
}

.tools-board{
    left:2em;
    top: 1em;
    position: absolute;
    background-color: #2D8E8A;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5em;
    width: 70%;
    min-height: 10em;
}

.tools-board h2,h3{
    text-align: center;
}
    .tools-board h3{
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 0.9em;
    }

.board-icons{
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-items: center;
    justify-content: center;
}

.board-icons > a > img {
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.board-icons > a {
    width: 3em;
    aspect-ratio: 1/1;
}

#tripod{
    left:0;
    width: 40%;
    bottom: 0;
    z-index: 3;
}

#camera{
    left:40%;
    bottom: 38%;
    width: 10%;
    z-index: 3;
}

#drawing-table{
    left:25%;
    bottom: 0;
    width: 35%;
    z-index: 3;
}

#coffee-counter{
    top: 35%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: auto;
}

.counter{
    width: 100%;
    height: 2em;
    background-color: #35312F;
}

#coffee-counter > img{
    max-width: 99px;
    width: 80%;
}

/* Double-room container */

@container double-room (max-width: 700px){
    .room-container{
        font-size: 14px;
    }
}

@container double-room (max-width: 520px){
    .room-container{
        font-size: 12px;
    }

    .lamp.left{
        left: 30%;
        transform: translateX(-50%);
    }

    .lamp.right{
        display: none;
    }
    .room-section:has(.clothes-section){
        display:none;
    }
    .room-container.rectangle-ratio{
        aspect-ratio: 1/1;
    }  
}

@container double-room (max-width: 300px){
    .room-container{
        font-size: 10px;
    }
}

/* Single room container */

@container single-room (max-width: 400px) {
    .room-container{
        font-size: 12px;
    }
}

@container single-room (max-width: 250px) {
    .room-container{
        font-size: 10px;
    }
    .tools-board h2{
        font-size: 10px;
    }
    .tools-board h3{
        font-size: 0.9em;
    }
}


/* Viewport configuration */

@media only screen and (max-width:960px) {
    body{
        min-height: 100dvh;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        height: auto;
    }

    .grid > section {
        max-height: 100%;
    }
    
    #shop{
        grid-column: 1 /span 2;
        grid-row: 2;
    }

    #office{
        border-right: 10px solid #35312F;
    }

    #recording-room{
        border-left: 10px solid #35312F;
    }

    .wrapper{
        padding-bottom: 0;
    }

    .ground{
        position: static;
        left:-48px;
        background-color: #35312F;
        width: 100dvw;
        height: 10rem;
        z-index: 1;
        padding: 1rem;
    }

    .ground > #contact-info{
        position: static;
        margin: auto;
        margin-right: 2rem;
        margin-top: 3rem;
    }
}

@media only screen and (max-width:600px){
    .logo{
        display: block;
    }

    body{
        height: max-content;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }

    #shop{
        grid-column: 1 /span 1;
        grid-row: 2;
    }

    #studio{
        grid-column: 1;
        grid-row: 3;
    }

    footer.ground{
        position: static;
    }

    .tv > img.in-logo{
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .wrapper{
        padding: 0.7rem;
        padding-bottom: 0;
    }
}

/* Icons */
.icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-play{
    background-image: url(../../images/VR_Play_icon.png);
}

.icon-pencil{
    background-image: url(../../images/Pencil_Icon@2x.png);
}

.icon-pen{
    background-image: url(../../images/Pen_Icon@2x.png);
}

.icon-markers{
    background-image: url(../../images/Markers_Icon@2x.png);
}

.icon-colorpencils{
    background-image: url(../../images/ColorPencils_Icon@2x.png);
}

.icon-paper{
    background-image: url(../../images/Paper_Icon@2x.png);
}

.icon-tablet{
    background-image: url(../../images/Ipad_Icon@2x.png);
}

.icon-camera{
    background-image: url(../../images/Camera_Icon@2x.png);
}